/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;
/*  */

body {
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.margin-top {
  margin-top: 35px;
}

.margin-left {
  transform: translateX(-25px);
}

.margin-left-1 {
  transform: translateX(79px);
}

.margin-right {
  position: relative;
  transform: translateX(-35px)  translateY(-22px);
}

.margin-right-1 {
  position: absolute;
  transform: translateY(7px);
}